/* Título sección */
.section-title {
  font-family: 'Gravitas One', cursive;
  color: #fffb00;
  text-shadow: 1px 1px 4px #333;
}

/* Tarjetas*/
.news-card {
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}
.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

/*Leer más */
.btn-news {
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn-news:hover {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  color: #fff;
}

/* Footer tarjeta */
.news-card .card-footer {
  background: #f8f9fa; 
  color: #555; 
  font-size: 0.9rem;
  font-weight: 500;
}

.news-card.border-danger .card-footer,
.news-card.border-danger .card-title {
  color: #d32f2f !important;
}

.news-card .card-img-top {
  height: 200px;
  object-fit: cover;
}